<link rel='stylesheet' href='/partials/modals/modals.scss'>
<div class='modal'>
{{> btn_action/btn_action src='/images/add-user.png' action-name='Add user'}}
{{> btn_action/btn_action src='/images/remove-user.png' action-name='Remove user'}}
</div>
