<link rel='stylesheet' href='/partials/modals/modals.scss'>
<div class='modal'>
{{> btn_action/btn_action src='/images/add-photo-video.svg' action-name='Photo or video'}}
{{> btn_action/btn_action src='/images/add-file.svg' action-name='File'}}
{{> btn_action/btn_action src='/images/add-location.svg' action-name='Location'}}
</div>