.btn-with-action {
  @include flexbox(start, center, row, auto, 0);

  width: 15rem;
  padding: 0.5rem;
  color: $color-accent;

  .modal-btn {
    width: 2rem;
    height: 2rem;
  }

  img {
    margin-right: 1rem;
  }
}
