<link rel='stylesheet' href='/partials/chat/chat_list/chat_list.scss'>
<div class='chat-list'>
    <input id='search-field' type="text" placeholder='Search' />
    {{> stub/stub label='It will be chat list here...'}}
  </div>
  