<div class='modal'>
    {{{ BtnAction class='modal-btn add-user-btn' src='/images/add-user.png' actionName='Add user'}}}
    {{{ BtnAction class='modal-btn remove-user-btn' src='/images/remove-user.png' actionName='Remove user'}}}
</div>
