<link rel='stylesheet' href='/partials/modals/load_file/load_file.scss'>
<div class='load_files-modal'>
    <p>{{loading-file-status}}</p>
    <label class='custom-input-label' for='custom-input'>Select file</label>
    <input id='custom-input' type='file' />

{{> button/button label='Change'}}
</div>
