<main class='profile'>

  {{{ProfileBackBar}}}

  {{{UserAvatar class='user-avatar' userName='John'}}}

  <div class='data-container'>
    <form>
      {{#each dataItems}}
          {{{ProfileDataItem
            type=this.type
            name=this.name
            itemName=this.itemName
            placeholder=this.placeholder
            inputError=this.inputError
            onFocusout=this.onFocusout
          }}}
        {{/each}}
    </form>
  </div>

  <div class='profile-footer'>
    <nav>
      <a href='#'>Change info</a>
      <a href='#'>Change password</a>
      <a href='#'>Logout</a>
    </nav>
  </div>
</main>
