.profile,
.change-profile-password,
.change-profile-data {
  @include flexbox-style(flex, center, center, column, 90%);
  position: relative;
}

.data-container,
.password-data-container {
  margin-top: 9rem;

  form {
    @include flexbox-style(flex, center, center, column, 90%);
  }

  div:last-child {
    border-bottom: none;
  }
}

.profile {
  .data-container {
    margin-top: 20rem;
  }
}

.profile-footer {
  flex-direction: column;
  margin-top: 2rem;

  a {
    padding: 0.6rem 0;
    color: $text-color;
    text-decoration: none;

    &:nth-child(3) {
      color: red;
      border-bottom: none;
    }
  }
}

.item-value {
  width: 14rem;
  margin: 0.6rem 0;

  font-size: 1rem;
  text-align: right;

  background: transparent;
  border: none;
}

.profile-button {
  position: absolute;
  bottom: 3rem !important;
}
