.profile,
.change-profile-password,
.change-profile-data {
  @include flexbox(center, center, column, 90%, 0);
  position: relative;
}

.profile {
  .data-item-container {
    margin: 0;
  }

  input {
    pointer-events: none;
  }
}

.data-container,
.password-data-container {
  margin-top: 12rem;
  width: 35%;

  .input-error {
    top: 28px;
  }

  .input-container {
    @include flexbox(space-between, center, row, auto, 0);
  }

  form {
    @include flexbox(center, center, column, 90%, 0);
  }

  div:last-child {
    border-bottom: none;
  }
}

.profile {
  .data-container {
    margin-top: 18rem;
  }
}

.profile-footer {
  nav {
    @include flexbox(initial, self-start, column, auto, 0);

    padding: 0.6rem 0;
    color: $text-color;
    text-decoration: none;
  }
  .logout-btn,
  .change-info-btn,
  .change-password-btn {
    color: $text-color;
    font-size: 1rem;
    margin: 0.6rem 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .logout-btn {
    color: red;
  }
}

.item-value {
  width: 14rem;
  margin: 0.6rem 0;

  font-size: 1rem;
  text-align: right;

  background: transparent;
  border: none;
}

.profile-button {
  position: absolute;
  bottom: 3rem !important;
}
