@import '/layout/scss/main';

div {
  @include flexbox-style(flex, center, center, column, 100%);

  p:nth-child(1) {
    color: #cecece;
    font-size: 4rem;
    margin: 0;
  }

  p:nth-child(2) {
    color: #cecece;
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem 0 0;
  }

  a {
    text-decoration: none;
    color: $text-color;
    margin-top: 5rem;
  }
}
