<div class='chat-list'>
  <form>
    {{{Input
      label-class='custom-input-label'
      name='message'
      type='text'
      placeholder='Search'
      onFocusout=this.onFocusout
      inputError=this.inputError
    }}}
  </form>

  {{{ChatPreview
    chatName='Garred'
    chatLastMessage='Прошлой зимой я видел, как замерзают люди, видел и позапрошлой, когда был еще наполовину мальчишкой.'
    chatTime='23:21'
  }}}
</div>
