<main class='registration-page'>
  <div class='form registration-form'>
    <h2>Registration</h2>
    <form>
      {{#each inputs}}
        {{{Input
          labelName=this.labelName
          type=this.type
          name=this.name
          inputError=this.inputError
          onFocusout=this.onFocusout
        }}}
      {{/each}}

      {{{Button
        class='button button-dark'
        type='submit'
        label='Create account'
        onClick=this.onClickSubmit
      }}}
    </form>

    <nav class='nav'>
      <a class='log-in' href='#'>Log in</a>
    </nav>
  </div>
</main>
