<div class='load-files-modal'>
  <p>{{loadingFileStatus}}</p>

  <form>
    <label for='custom-input' class='custom-input-label'>Add file</label>
    {{{Input name='custom-input' type='file' text='Select file'}}}
    {{{Button class='btn btn-dark' label='Change avatar'}}}
  </form>
</div>
