.load-files-modal {
  @include flexbox-style(flex, center, center, column, 260px);

  width: 340px;
  color: $main-color;
  background: $main-light;
  border-radius: 12px;

  p:first-child {
    margin: 3rem 0;
    font-size: 20px;
  }

  input[type='file'] {
    display: none;
  }

  .custom-input-label {
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
  }

  button {
    margin-bottom: 2.5rem;
  }

  form {
    @include flexbox-style(flex, center, center, column, 260px);
  }
}
