<main class='change-profile-data'>
  <link rel='stylesheet' href='../../profile.scss' />

  {{{ProfileBackBar}}}

  {{{UserAvatar class='user-avatar' src='/images/avatar.png'}}}

  <div class='data-container'>
    <form>
      <div>
        {{#each dataItems}}
          {{{ProfileDataItem
            type=this.type
            name=this.name
            itemName=this.itemName
            placeholder=this.placeholder
            inputError=this.inputError
            onFocusout=this.onFocusout
          }}}
        {{/each}}
      </div>

      {{{Button
        class='button button-light profile-button'
        label='Save'
        onClick=this.onClickSubmit
      }}}
    </form>
  </div>

</main>
