<link rel='stylesheet' href='/partials/chat/chat_feed/chat_feed.scss'>
<div class='chat-feed'>
    <div class='chat-feed__header'>
      {{> user_preview/user_preview user-name='Tyrion'}}
      <img class='chat-settings-btn' src='/images/settings-btn.svg' alt=''></img>
    </div>
    <div class='chat-feed__main'>
      {{> stub/stub label='It will be chat feed here...'}}
    </div>
    <div class='chat-feed__footer'>
      <img class='add-files-btn' src='/images/add-files-btn.svg'></img>
      <input type='text' name='message-field' id='message-field' placeholder='Message'/>
      <img class='send-message-btn' src='/images/send-message-btn.svg'></img>
    </div>
  </div>