<div class='chat-outer'>
  <hr>
  <div class='chat'>
    <div class='chat__user-avatar'></div>
    <div class='chat__info info'>
      <span class='info__name'>{{chatName}}</span>
      <span class='info__last-message'>{{chatLastMessage}}</span>
      <span class='info__time'>{{chatTime}}</span>
    </div>
  </div>
  <hr>
</div>
